<app-review *ngIf="apiError" (close)="onCloseError()"></app-review>
<div>
    <h2 class="text-white"> Calculate your premium</h2>
    <div class="form group mt-4 ">
        <form [formGroup]="myform" (ngSubmit)="onCalculate()"> 
            <div class="row mb-4 ">
               <div class="control-label col-md-2">
                <label class="text-light h5">Name</label>
               </div>
                <div class="control-label col-md-4">
                <input type="text" formControlName="name" class="form-control"> 

                <p class="text-danger font-weight-normal h5 bg-warning mt-2 " *ngIf="!myform.get('name').valid && myform.get('name').touched">Name is required.</p>
               </div>
             </div>
            
             

             
             <div class="row mb-4">
               <div class="control-label col-md-2">
                 <label class="text-light">Date of Birth</label>
               </div>
                 <div class="control-label col-md-4">
                 <input type="date" formControlName="dob" class="form-control" (change)="calculateDob()" > 
                 <p class="text-danger font-weight-normal h5 bg-warning mt-2 " *ngIf="!myform.get('dob').valid && myform.get('dob').touched">Date of Birth is required.</p>
               </div>
              </div>
              <div class="row mb-4">
                 <div class="control-label col-md-2">
                 <label class="text-light">Age</label>
               </div>
                 <div class="control-label col-md-4">
                 
                 <input type="text" formControlName='age' disabled="true" class="form-control"> 
               </div>
              </div>
             
              <div class="row mb-4">
                 <div class="control-label col-md-2">
                    <label class="text-light">Sum insured</label>
                   
                  </div>
                  
                <div class="col-md-4">
                  <input type="number" formControlName='sum' class="form-control"> 
                  <p class="text-danger font-weight-normal h5 bg-warning mt-2 " *ngIf="!myform.get('sum').valid && myform.get('sum').touched">Sum insured is required.</p>
                </div>
                
             </div>
             <div class="row mb-4">
               <div class="control-label col-md-2">
                  <label class="text-light">Occupation</label>
               </div>
               
               <div class="control-label col-md-4">
               <select formControlName='occupation' class="form-control" (change)="onCalculate()">
                   
                       <option default value="null">Please select</option>
                       <option *ngFor="let item of occupationList">{{item.Occupation}}</option>

                   
               </select>
               <p class="text-danger font-weight-normal h5 bg-warning mt-2 " *ngIf="!myform.get('occupation').valid && myform.get('occupation').touched">Occupation is required.</p>
            </div>
            </div>
             <div class="row mb-4">
                <div class="col-md-1">
                   <button class="btn btn-success" type="submit" [disabled]="!myform.valid" #Calulate>Calculate</button>
                  </div>
                <div class="col-md-1">
                  <button class="btn btn-danger" (click)="myform.reset()" type="button">Reset</button>
                </div>
               
             </div>
            
        </form>

    </div>
</div>

